body {
  font-family: sans-serif;
  margin: 0;
  padding: 2rem;
  background-color: #3a3c40;
}

header {
  display: flex;
  flex-direction: column;
}

.secondary-nav {
  display: flex;
  flex-direction: row;
}
