@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";
@plugin "daisyui";

.tab:not(.tab-active) {
  @apply text-gray-300;
}

.tab:not(.tab-active):hover {
  @apply text-[#b89f63];
}

.tab-active {
  @apply text-[#d6bf81];
}

.tab-active:hover {
  @apply text-[#b89f63];
}

.fade {
  visibility: hidden;
  opacity: 0;
  transition:
    opacity 250ms ease-in,
    visibility 0ms ease-in 250ms;
}

.fade.show {
  visibility: visible;
  opacity: 1;
  transition-delay: 0ms;
}

.join-item {
  @apply border-gray-300 h-4 w-4 bg-transparent;
}

.join-item:checked {
  @apply bg-[#d6bf81] border-none;
}

h1 {
  white-space: pre-line;
}
