body {
  display: flex;
  flex-direction: row;
  font-family: sans-serif;
  margin: 0;
  padding: 2rem;
  background: #0a0a0a;
  background: linear-gradient(
    317deg,
    rgba(10, 10, 10, 1) 0%,
    rgba(56, 56, 56, 1) 100%
  );
}

header.sidebar {
  display: flex;
  flex-direction: column;
  height: 100vh;
  border-right: 1px solid #525252;
}

.footer-nav {
  margin-top: auto;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.secondary-menu ul {
  text-align: right;
}

.secondary-menu ul li {
  display: inline-block;
}
